script(type='text/javascript', src='bower_components/jquery/dist/jquery.min.js')
script(type='text/javascript', src='bower_components/bootstrap/dist/js/bootstrap.min.js')
script(type='text/javascript', src='bower_components/admin-lte/dist/js/adminlte.min.js')
script(type='text/javascript', src='bower_components/admin-lte/plugins/iCheck/icheck.min.js')